<section class="events-page section-space">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="event-card-grid @@extraClassName">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-1.jpg"
                            alt="Let’s education for children get good life style with go us Our donation is hope">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">Let’s
                                education
                                for children get good life style with go us Our donation is hope</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="event-card-grid event-card-grid--reverse">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-2.jpg"
                            alt="There are many variations of passages of available but majority have alteration">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">There are many
                                variations of passages of available but majority have alteration</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="event-card-grid @@extraClassName">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-3.jpg"
                            alt="If you are going to use a passage of Lorem Ipsum, you need to be sure there">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">If you are
                                going
                                to use a passage of Lorem Ipsum, you need to be sure there</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="event-card-grid event-card-grid--reverse">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-4.jpg"
                            alt="injected humour, or randomised words which don’t look even use a passage">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">injected
                                humour,
                                or randomised words which don’t look even use a passage</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="event-card-grid @@extraClassName">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-5.jpg"
                            alt="The generated Lorem Ipsum is therefore always free from repetition">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">The generated
                                Lorem Ipsum is therefore always free from repetition</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="event-card-grid event-card-grid--reverse">
                    <a href="event-details-right.html" class="event-card-grid__image">
                        <img src="assets/images/events/event-4-6.jpg"
                            alt="you need to be sure there isn’t anything embarrassing hidden in the middle">
                        <div class="event-card-grid__date-wrapper">
                            <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div><!-- /.event-card-grid__time -->
                            <div class="event-card-grid__date">03 Sep</div><!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title"><a href="event-details-right.html">you need to be
                                sure there isn’t anything embarrassing hidden in the middle</a></h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Organizer</h5>
                                Ashton Porter
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Vanue</h5>
                                350 5th AveNew York, NY 10118
                            </li>
                        </ul><!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.events-page section-space -->