<section class="events-page section-space">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="event-card-grid @@extraClassName">
                    <a href="/blogs/key-take-aways-starting-business-in-germany" class="event-card-grid__image">
                        <img src="/assets/images/nepali-roots/events/blog-1.png"
                            alt="Let’s education for children get good life style with go us Our donation is hope">
                        <div class="event-card-grid__date-wrapper">
                            <!-- <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div> -->
                            <!-- /.event-card-grid__time -->
                            <!-- <div class="event-card-grid__date">09 Oct</div> -->
                            <!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title">
                            <a href="/blogs/key-take-aways-starting-business-in-germany">
                                Key take aways from 'How to start a business in Germany?' webinar
                            </a>
                        </h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Published By</h5>
                                Nepali Roots
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location"></span>
                                    Event Date
                                </h5>
                                18th SEP 2024
                            </li>
                        </ul>
                        <!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="event-card-grid event-card-grid--reverse">
                    <a href="/blogs" class="event-card-grid__image">
                        <img src="/assets/images/nepali-roots/events/coming-soon-medium-1.png"
                            alt="There are many variations of passages of available but majority have alteration">
                        <div class="event-card-grid__date-wrapper">
                            <!-- <div class="event-card-grid__time">
                                <span class="event-card-grid__time__icon fa fa-clock"></span>10:00 aM - 2.00
                                PM
                            </div> -->
                            <!-- /.event-card-grid__time -->
                            <!-- <div class="event-card-grid__date">09 Nov</div> -->
                            <!-- /.event-card-grid__date -->
                        </div>
                    </a><!-- /.event-card-grid__image -->
                    <div class="event-card-grid__content">
                        <h4 class="event-card-grid__title">
                            <a href="/blogs">
                                Coming Soon: Key take aways from Ausbildung webinar
                            </a>
                        </h4>
                        <!-- /.event-card-grid__title -->
                        <ul class="event-card-grid__meta">
                            <li>
                                <h5 class="event-card-grid__meta__title">Published By</h5>
                                Nepali Roots
                            </li>
                            <li>
                                <h5 class="event-card-grid__meta__title"><span class="icon-location">

                                    </span>
                                    Event Date
                                </h5>
                                9th NOV 2024
                            </li>
                        </ul>
                        <!-- /.event-card-grid__meta -->
                    </div><!-- /.event-card-grid__content -->
                </div><!-- /.event-card-grid -->
            </div><!-- /.col-lg-6 -->




        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.events-page section-space -->