<div class="container">
    <div class="row gutter-y-50">
        <div class="col-lg-6">
            <div class="about-three__image">
                <div class="about-three__image__inner wow fadeInLeft animated" data-wow-duration="1500ms"
                    data-wow-delay="00ms"
                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <!-- <img src="assets/images/about/about-3-1.jpg" alt="about"
                    class="about-three__image__one">
                <img src="assets/images/about/about-3-2.jpg" alt="about"
                    class="about-three__image__two"> -->
                    <img src="assets/images/nepali-roots/about/about3.jpg" alt="about" class="about-three__image__one">
                    <img src="assets/images/nepali-roots/about/about4.png" alt="about" class="about-three__image__two">
                    <div class="about-three__experience"
                        style="background-image: url(assets/images/shapes/about-shape-3-2.png);">
                        <div class="about-three__experience__content">
                            <h3 class="about-three__experience__title">Together</h3>
                            <!-- /.about-three__experience__title -->
                            <p class="about-three__experience__text">Empowering<br>Nepali
                                Professionals
                            </p>
                            <!-- /.about-three__experience__text -->
                        </div><!-- /.about-three__experience__content -->
                    </div><!-- /.about-three__experience -->
                    <img src="assets/images/shapes/about-shape-3-1.png" alt="about-shape" class="about-three__shape">
                    <div class="about-three__shape-box"></div><!-- /.about-three__shape-box -->
                </div><!-- /.about-three__image__inner -->
            </div><!-- /.about-three__image -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="about-three__content">
                <div class="sec-title">

                    <h6 class="sec-title__tagline @@extraClassName">ABOUT NEPALI ROOTS</h6>
                    <!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Helping Each Other Can Make World <span
                            class="sec-title__title__inner">Better</span></h3>
                    <!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <p class="about-three__text about-three__text--one">Empowering Nepali Professionals
                    In
                    Germany:
                    Connecting, Educating, and Supporting Growth and Well-being within Our Community
                </p>
                <!-- /.about-three__text -->
                <p class="about-three__text about-three__text--two">
                    Our mission is to connect Nepali professionals in Germany, fostering a
                    supportive
                    network where members can help each other achieve excellence in their
                    professional,
                    career, and personal growth. We are dedicated to offering educational workshops,
                    training sessions, and webinars on a variety of topics that benefit the Nepali
                    community. Additionally, we believe in collaborating with Nepali educational
                    institutions to elevate their educational standards.
                    We also provide support to individuals in managing their mental well-being
                    throughout
                    their professional journey.</p>
                <!-- /.about-three__text -->


            </div><!-- /.about-three__content -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>