<section class="video-one">
    <!-- <div class="video-one__bg cleenhearts-jarallax" data-jarallax data-speed="0.3"
        data-imgPosition="50% -100%"
        style="background-image: url(assets/images/backgrounds/help-donate-bg-1-1.jpg);"></div> -->
    <div class="video-one__bg cleenhearts-jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%"
        style="background-image: url(assets/images/nepali-roots/banners/bond-banner.png);"></div>
    <!-- /.video-one__bg -->
    <div class="container">
        <h2 class="video-one__title">A BOND BEYOND
            <!-- <span class="video-one__title__two"></span>
    <span class="video-one__title__one">BOND</span>
    <span class="video-one__title__two">BEYOND</span> -->

            BORDERS
        </h2>
        <!-- /.video-one__title -->
        <!-- <a href="https://www.youtube.com/watch?v=h9MbznbxlLc"
    class="video-one__button video-button video-popup">
    <span class="icon-play"></span>
    <i class="video-button__ripple"></i>
</a> -->
        <!-- /.video-one__button -->
    </div><!-- /.container -->
</section><!-- /.video-one -->