<section class="faq-one faq-one--about section-space">
    <div class="faq-one__bg" style="background-image: url('assets/images/backgrounds/faq-bg-2.png');">
    </div>
    <!-- /.faq-one__bg -->
    <div class="container">
        <div class="row gutter-y-50">
            <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="faq-one__image">
                    <img src="assets/images/faq/faq-1.png" alt="faq-image">
                </div><!-- /.faq-one__image -->
            </div><!-- /.col-xl-6 col-lg-6 -->
            <div class="col-xl-6 col-lg-6">
                <div class="faq-one__content">
                    <div class="sec-title">

                        <h6 class="sec-title__tagline @@extraClassName">Recently asked questions</h6>
                        <!-- /.sec-title__tagline -->

                        <h3 class="sec-title__title">People Are Frequently Asking Some <span
                                class="sec-title__title__inner">Questions</span></h3>
                        <!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <p class="faq-one__text">
                        Please don't hesitate to email us if you have any questions beyond the FAQs listed below.
                    </p><!-- /.faq-one__text -->
                    <div class="cleenhearts-accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms"
                        data-grp-name="cleenhearts-accordion">
                        <div class="accordion @@extraClassName">
                            <div class="accordion-title">
                                <h4>
                                    What is Nepali Roots all about?
                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        Nepali Roots is a community group for Nepali professionals living in Germany.
                                        We’re here to help each other grow—whether that’s in your career, personal life,
                                        or just adjusting to life abroad. We focus on networking, education, and
                                        offering support to our members and non-members.
                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                        <div class="accordion active">
                            <div class="accordion-title">
                                <h4>
                                    What kind of support does Nepali Roots offer?
                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        We provide several kinds of support, including:<br>
                                        - Networking: We help you connect with other Nepali professionals in
                                        Germany.<br>
                                        - Workshops & Training: We organize educational sessions on topics that
                                        matter<br>
                                        to our community.
                                        - Webinars: We host online events that cover everything from career
                                        development<br>
                                        to personal well-being.

                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                        <div class="accordion @@extraClassName">
                            <div class="accordion-title">
                                <h4>
                                    Who can join Nepali Roots?

                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        We’re all about building a supportive community, so if that sounds good to you,
                                        we’d love to have you.

                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                    </div>
                </div><!-- /.faq-one__content -->
            </div><!-- /.col-xl-6 col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="faq-one__shape">
        <img src="assets/images/shapes/faq-shape-1-1.png" alt="faq-shape" class="faq-one__shape__one">
        <img src="assets/images/shapes/faq-shape-1-2.png" alt="faq-shape" class="faq-one__shape__two">
    </div><!-- /.faq-one__shape -->
</section><!-- /.faq-one section-space -->