<section class="faq-one faq-one--about section-space">
    <div class="faq-one__bg" style="background-image: url('assets/images/backgrounds/faq-bg-2.png');">
    </div>
    <!-- /.faq-one__bg -->
    <div class="container">
        <div class="row gutter-y-50">
            <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="faq-one__image">
                    <img src="assets/images/faq/faq-1.png" alt="faq-image">
                </div><!-- /.faq-one__image -->
            </div><!-- /.col-xl-6 col-lg-6 -->
            <div class="col-xl-6 col-lg-6">
                <div class="faq-one__content">
                    <div class="sec-title">

                        <h6 class="sec-title__tagline @@extraClassName">Recently asked questions</h6>
                        <!-- /.sec-title__tagline -->

                        <h3 class="sec-title__title">People Are Frequently Asking Some <span
                                class="sec-title__title__inner">Questions</span></h3>
                        <!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <p class="faq-one__text">
                        Please don't hesitate to email us if you have any questions beyond the FAQs listed below.
                    </p><!-- /.faq-one__text -->
                    <div class="cleenhearts-accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms"
                        data-grp-name="cleenhearts-accordion">
                        <div class="accordion @@extraClassName">
                            <div class="accordion-title">
                                <h4>
                                    Do you work within a specific professional domain?
                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        No, we welcome collaboration with Nepali professionals from any field, including
                                        Tech, Medical, Education, Hospitality, and more.
                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                        <div class="accordion active">
                            <div class="accordion-title">
                                <h4>
                                    Do you support Nepali startups?
                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        Yes, we assist founders of Nepali startups by connecting them with other
                                        experienced founders who have established businesses in Germany. We facilitate
                                        networking events, podcasts, and webinars where experts can share their
                                        experiences of running a business in Germany or Nepal.
                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                        <div class="accordion @@extraClassName">
                            <div class="accordion-title">
                                <h4>
                                    Is this a non-profit organization?
                                    <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                </h4>
                            </div><!-- /.accordian-title -->
                            <div class="accordion-content">
                                <div class="inner">
                                    <p>
                                        Yes, we are in the process of registering as an e.V. organization in Germany.
                                    </p>
                                </div><!-- /.accordian-content -->
                            </div>
                        </div><!-- /.accordian-item -->
                    </div>
                </div><!-- /.faq-one__content -->
            </div><!-- /.col-xl-6 col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="faq-one__shape">
        <img src="assets/images/shapes/faq-shape-1-1.png" alt="faq-shape" class="faq-one__shape__one">
        <img src="assets/images/shapes/faq-shape-1-2.png" alt="faq-shape" class="faq-one__shape__two">
    </div><!-- /.faq-one__shape -->
</section><!-- /.faq-one section-space -->