<footer class="footer-three footer-two main-footer"
    style="background-image: url('/assets/images/backgrounds/footer-bg-2-1.png');">
    <div class="main-footer__top">
        <div class="container">
            <div class="row gutter-y-30">
                <div class="col-md-12 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <div class="footer-widget footer-widget--about">
                        <h2 class="footer-widget__title">About Nepali Roots </h2><!-- /.footer-widget__title -->
                        <p class="footer-widget__about-text">
                            Nepali Roots is a community group for Nepali professionals in Germany, focused on
                            networking, education, and support. We help each other grow in careers, personal life, and
                            adapting to life abroad.
                        </p>
                    </div><!-- /.footer-widget -->
                    <!-- <a href="https://www.google.com/maps/@23.506657,90.3443647,7z?entry=ttu"
                    class="footer-widget__map">
                    <span class="footer-widget__map__text">View Map</span>
                    <span class="footer-widget__map__icon icon-paper-plane"></span>
                </a> -->
                </div><!-- /.col-md-12 col-xl-3 -->
                <div class="col-xl-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                    <div class="footer-widget footer-widget--contact">
                        <h2 class="footer-widget__title">Get in touch!</h2><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__info">
                            <li> <span class="icon-location"></span>
                                <address>Munich, Germany</address>
                            </li>
                            <!-- <li> <span class="icon-phone"></span><a href="tel:(406)555-0120">(406) 555-0120</a> -->
                            </li>
                            <li> <span class="icon-envelope"></span>
                                <a href="mailto:contact@nepaliroots.org">contact@nepaliroots.org</a>
                            </li>
                              <li> <span class="icon-envelope"></span>
                                <a href="mailto:nepaliroots@gmail.com">nepaliroots@gmail.com </a>
                            </li>
                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-xl-3 col-md-5 -->
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <div class="footer-widget footer-widget--links">
                        <h2 class="footer-widget__title">Quick Links</h2><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="https://www.youtube.com/@nepali-roots" target="_blank">Podcasts</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                           
                            <li><a href="/conferences/call-for-speakers-2025">Call For Speakers 2025</a></li>
                            <li><a href="/conferences/nepali-roots-summit-2025">Nepali Roots Summit 2025</a></li>
                        </ul><!-- /.list-unstyled footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-12 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <div class="footer-widget footer-widget--about">
                        <h2 class="footer-widget__title">
                            How can you contribute to Nepali Roots?
                        </h2>
                        <!-- /.footer-widget__title -->
                        <p class="footer-widget__about-text">
                            We’d love your help! You can get involved by volunteering, sharing your expertise as a
                            speaker or trainer, or supporting us financially through donations.
                        </p>
                    </div><!-- /.footer-widget -->
                    <!-- <a href="https://www.google.com/maps/@23.506657,90.3443647,7z?entry=ttu"
                    class="footer-widget__map">
                    <span class="footer-widget__map__text">View Map</span>
                    <span class="footer-widget__map__icon icon-paper-plane"></span>
                </a> -->
                </div><!-- /.col-md-12 col-xl-3 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-footer__top -->
    <div class="footer-three__bottom">
        <div class="container">
            <div class="footer-three__bottom__inner">
                <p class="footer-three__copyright">
                    &copy; Copyright <span class="dynamic-year"></span> Nepali Roots All Rights Reserved.
                </p>
            </div><!-- /.footer-three__bottom__inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-three__bottom -->
</footer><!-- /.footer-three footer-two main-footer -->
