<header class="main-header-three main-header sticky-header--three sticky-header sticky-header--normal">
    <div class="container-fluid">
        <div class="main-header__inner">
            <div class="main-header-three__logo">
                <a href="/">
                    <!-- <img src="assets/images/logo-dark.png" alt="Cleenhearts HTML" width="156"> -->
                    <img src="assets/images/nepali-roots/logos/logo-red.png" alt="Cleenhearts HTML" width="156">
                </a>
            </div><!-- /.main-header-three__logo -->
            <div class="main-header__right">
                <div class="main-header__right__left">
                    <nav class="main-header__nav main-menu main-menu--three">
                        <ul class="main-menu__list">



                            <li>
                                <a href="/">Home</a>
                            </li>

                            <li>
                                <a href="/about">About Us</a>
                            </li>

                            <!-- <li class="dropdown">
                                <a href="#">About Us</a>
                                <ul>
                                    <li><a href="donations-grid.html">Donations Grid</a></li>
                                    <li><a href="donations-list.html">Donations List</a></li>
                             
                                </ul>
                            </li> -->
                            <li class="scrollToLink">
                                <a href="/events">Past Programs</a>
                            </li>

                            <!-- <li class="dropdown">
                                <a href="#">Past Programs</a>
                                <ul>
                                    <li><a href="volunteer.html">Our Volunteer</a></li>
                                    <li><a href="volunteer-carousel.html">Our Volunteer Carousel</a></li>
                                    <li><a href="volunteer-details.html">Volunteer Details</a></li>
                                    <li><a href="become-a-volunteer.html">Become a Volunteer</a></li>
                                    <li><a href="pricing.html">Pricing Tables</a></li>
                                    <li><a href="pricing-carousel.html">Pricing Tables Carousel</a></li>
                                    <li>
                                        <a href="#">Gallery</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                            <li><a href="gallery-filter.html">Gallery filter</a></li>
                                            <li><a href="gallery-carousel.html">Gallery Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq.html">FAQS</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="https://www.youtube.com/@nepali-roots" target="_blank">Podcasts</a>
                            </li>

                            <!-- <li class="dropdown">
                                <a href="#">Workshops</a>
                                <ul>
                                    <li><a href="events-grid.html">Events Grid</a></li>
                                    <li><a href="events-list.html">Events List</a></li>
                                    <li><a href="events-carousel.html">Events Carousel 01</a></li>
                                    <li><a href="events-carousel-2.html">Events Carousel 02</a></li>
                                    <li class="dropdown">
                                        <a href="#">Event Details</a>
                                        <ul>
                                            <li><a href="event-details.html">No sidebar</a></li>
                                            <li><a href="event-details-left.html">Left sidebar</a></li>
                                            <li><a href="event-details-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="https://forms.gle/ojML8M8bnHChZc1i8" target="_blank">Get Involved</a>
                            </li>

                            <!-- <li class="dropdown">
                                <a href="#">Get Involved</a>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#">Products</a>
                                        <ul>
                                            <li><a href="products.html">No sidebar</a></li>
                                            <li><a href="products-left.html">Left sidebar</a></li>
                                            <li><a href="products-right.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="products-carousel.html">Products carousel</a></li>
                                    <li><a href="product-details.html">Product details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li> -->

                            <li>
                                <a href="contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="faqs">FAQs</a>
                            </li>
                        </ul>
                    </nav><!-- /.main-header__nav -->
                </div><!-- /.main-header__right__left -->
                <div class="main-header__right__right">
                    <div class="mobile-nav__btn mobile-nav__toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- /.mobile-nav__toggler -->
                    <div class="main-header__cart">
                        <button class="main-header__sidebar-btn sidebar-btn__toggler">
                            <span class="icon-grid"></span>
                        </button>
                    </div><!-- /.main-header__cart -->
                    <a href="/events" class="cleenhearts-btn main-header__btn">
                        <div class="cleenhearts-btn__icon-box">
                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-donate"></span>
                            </div>
                        </div>
                        <span class="cleenhearts-btn__text">Events</span>
                    </a><!-- /.thm-btn main-header__btn -->
                    <div class="main-header-three__social">
                        <span class="main-header-three__social__title">Follow
                            us:</span><!-- /.main-header-three__social__title -->
                        <div class="social-link-two">
                            <a href="https://www.facebook.com/groups/1302870024426255/" target="_blank">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://www.linkedin.com/groups/9888272/" aria-hidden="true" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.youtube.com/@nepali-roots" target="_blank" aria-hidden="true">
                                <i class="fab fa-youtube"></i>
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div><!-- /.footer-two__social -->
                    </div><!-- /.main-header-three__social -->
                </div><!-- /.main-header__right__right -->
            </div><!-- /.main-header__right -->
        </div><!-- /.main-header__inner -->
    </div><!-- /.container-fluid -->
</header><!-- /.main-header -->
