<header class="main-header-three main-header sticky-header--three sticky-header sticky-header--one-page">
  <div class="container-fluid">
    <div class="main-header__inner">
      <div class="main-header-three__logo">
        <a href="index.html">
          <img src="assets/images/logo-dark.png" alt="Cleenhearts HTML" width="156">
        </a>
      </div><!-- /.main-header-three__logo -->
      <div class="main-header__right">
        <div class="main-header__right__left">
          <nav class="main-header__nav main-menu main-menu--three">
            <ul class="main-menu__list one-page-scroll-menu">
              <li class="scrollToLink"><a href="#home">Home</a></li>
              <li class="scrollToLink"><a href="about.html">About</a></li>
              <li class="scrollToLink"><a href="#donation">Donation</a></li>
              <li class="scrollToLink"><a href="#event">Events</a></li>
              <li class="scrollToLink"><a href="#team">Team</a></li>
              <li class="scrollToLink"><a href="#testimonial">Testimonial</a></li>
              <li class="scrollToLink"><a href="#blog">Blog</a></li>
            </ul>
          </nav><!-- /.main-header__nav -->
        </div><!-- /.main-header__right__left -->
        <div class="main-header__right__right">
          <div class="mobile-nav__btn mobile-nav__toggler">
            <span></span>
            <span></span>
            <span></span>
          </div><!-- /.mobile-nav__toggler -->

          <a href="donate.html" class="cleenhearts-btn main-header__btn">
            <div class="cleenhearts-btn__icon-box">
              <div class="cleenhearts-btn__icon-box__inner"><span class="icon-donate"></span>
              </div>
            </div>
            <span class="cleenhearts-btn__text">Events</span>
          </a><!-- /.thm-btn main-header__btn -->
          <div class="main-header-three__social">
            <span class="main-header-three__social__title">Follow
              us:</span><!-- /.main-header-three__social__title -->
            <div class="social-link-two">
              <a href="https://facebook.com">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
              </a>

              <a href="https://linkedin.com" aria-hidden="true">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">Linkedin</span>
              </a>
              <a href="https://youtube.com" aria-hidden="true">
                <i class="fab fa-youtube"></i>
                <span class="sr-only">Youtube</span>
              </a>
            </div><!-- /.footer-two__social -->
          </div><!-- /.main-header-three__social -->
        </div><!-- /.main-header__right__right -->
      </div><!-- /.main-header__right -->
    </div><!-- /.main-header__inner -->
  </div><!-- /.container-fluid -->
</header><!-- /.main-header -->