        <section class="gallery-one section-space-top">

        <div class="sec-title align-text-center">

             <h3 class="sec-title__title sec-title__tagline--center">Highlights From Nepali Roots Summit <span class="sec-title__title__inner">2025</span>
            </h3><!-- /.sec-title__title -->

        </div>    

            <div class="container">
                <div class="gallery-one__top cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
                    "items": 1,
                    "margin": 5,
                    "loop": true,
                    "smartSpeed": 700,
                    "animateOut": "fadeOut",
                    "nav": true,
                    "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
                    "dots": false,
                    "autoplay": true,
                    "autoplayTimeout": 5000
                }'>

            
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide1.jpg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide2.jpg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide3.jpg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide4.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide5.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide6.jpg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide7.png');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide8.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide9.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide10.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->

                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide11.jpeg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->


                    <div class="item">
                        <div class="gallery-one__top__image" style="background-image: url('assets/images/nepali-roots/nrs2025/nrs25-slide12.jpg');"></div><!-- /.gallery-one__top__bg -->
                    </div><!-- /.item -->



                </div><!-- /.gallery-one__top -->
     
            </div><!-- /.container -->
        </section><!-- /.gallery-one section-space -->