<section class="donations-three section-space-top">
    <div class="container">
        <div class="donations-three__tabs-box tabs-box">
            <div class="donations-three__top">
                <div class="row gutter-y-40 align-items-center">
                    <div class="col-lg-6">
                        <div class="sec-title">

                            <h6 class="sec-title__tagline @@extraClassName">Past Programs or Events
                            </h6>
                            <!-- /.sec-title__tagline -->

                            <h3 class="sec-title__title">Our
                                <span class="sec-title__title__inner">Past Events</span>
                            </h3>
                            <!-- /.sec-title__title -->
                        </div><!-- /.sec-title -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="tab-buttons">
                            <li data-tab="#networking"
                                class="donations-three__btn tab-btn active-btn wow animated fadeInUp animated"
                                data-wow-delay="00ms" data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                <span>Networking
                                    Events</span>
                            </li>

                            <li data-tab="#workshops"
                                class="donations-three__btn tab-btn wow animated fadeInUp animated"
                                data-wow-delay="400ms" data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                                <span>Workshops &amp;
                                    Webinars</span>
                            </li>

                            <li data-tab="#podcast" class="donations-three__btn tab-btn wow animated fadeInUp animated"
                                data-wow-delay="600ms" data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                                <span>Podcasts</span>
                            </li>
                        </ul>
                        <!-- /.tab-buttons -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.donations-three__top -->
            <div class="tabs-content">
                <div class="tab active-tab animated fadeInUp" data-wow-delay="200ms" id="networking"
                    style="display: block;">
                    <div class="donations-three__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel owl-loaded owl-drag"
                        data-owl-options="{
    &quot;items&quot;: 3,
    &quot;margin&quot;: 30,
    &quot;smartSpeed&quot;: 700,
    &quot;loop&quot;:true,
    &quot;autoplay&quot;: 6000,
    &quot;nav&quot;:true,
    &quot;dots&quot;:false,
    &quot;navText&quot;: [&quot;<span class=\&quot;icon-arrow-left\&quot;></span>&quot;,&quot;<span class=\&quot;icon-arrow-right\&quot;></span>&quot;],
    &quot;responsive&quot;:{
        &quot;0&quot;:{
            &quot;items&quot;: 1,
            &quot;margin&quot;: 20
        },
        &quot;576&quot;:{
            &quot;items&quot;: 1,
            &quot;margin&quot;: 30
        },
        &quot;768&quot;:{
            &quot;items&quot;: 2,
            &quot;margin&quot;: 30
        },
        &quot;992&quot;:{
            &quot;items&quot;: 2,
            &quot;margin&quot;: 30
        },
        &quot;1200&quot;:{
            &quot;items&quot;: 3,
            &quot;margin&quot;: 30
        }
    }
    }">
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-2400px, 0px, 0px); transition: 0.7s; width: 4000px;">
                                <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: How to register a company in Germany?
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Let’s education for children get good life">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    We conducted a webinar to support individuals interested in
                                                    starting
                                                    a
                                                    business in Germany.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: Parenthood preparation
                                                </a>
                                            </h3><!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Raise Funds For Clean &amp; Healthy Food">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    Hosted a webinar to guide expecting parents on essential
                                                    steps
                                                    during
                                                    pregnancy and post-delivery.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Podcast: Tech job experience sharing discussion
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Quisque dictum ipsum eget accumsan dignissim. Quisque">
                                                <div class="donation-card__category">Podcast</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    We hosted a podcast with seasoned tech professionals working
                                                    in
                                                    Germany,
                                                    discussing their struggles and experiences in securing a
                                                    job.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Semi Informal GIZ-Nepal Meetup
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <!-- <img src="assets/images/donations/donation-1-1.jpg"
                                    alt="Give African Children's Good medical support"> -->
                                                <img src="assets/images/nepali-roots/events/giz-nepal-event.png"
                                                    alt="Give African Children's Good medical support">
                                                <div class="donation-card__category">Networking</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <!-- /.donation-card__progress -->
                                                <p class="donation-card-two__text">
                                                    The meetup was organized to assist individuals interested in
                                                    contributing to Nepal by participating in GIZ-Nepal's
                                                    program.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: How to register a company in Germany?
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Let’s education for children get good life">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    We conducted a webinar to support individuals interested in
                                                    starting
                                                    a
                                                    business in Germany.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: Parenthood preparation
                                                </a>
                                            </h3><!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Raise Funds For Clean &amp; Healthy Food">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    Hosted a webinar to guide expecting parents on essential
                                                    steps
                                                    during
                                                    pregnancy and post-delivery.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Podcast: Tech job experience sharing discussion
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Quisque dictum ipsum eget accumsan dignissim. Quisque">
                                                <div class="donation-card__category">Podcast</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    We hosted a podcast with seasoned tech professionals working
                                                    in
                                                    Germany,
                                                    discussing their struggles and experiences in securing a
                                                    job.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Semi Informal GIZ-Nepal Meetup
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <!-- <img src="assets/images/donations/donation-1-1.jpg"
                                    alt="Give African Children's Good medical support"> -->
                                                <img src="assets/images/nepali-roots/events/giz-nepal-event.png"
                                                    alt="Give African Children's Good medical support">
                                                <div class="donation-card__category">Networking</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <!-- /.donation-card__progress -->
                                                <p class="donation-card-two__text">
                                                    The meetup was organized to assist individuals interested in
                                                    contributing to Nepal by participating in GIZ-Nepal's
                                                    program.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: How to register a company in Germany?
                                                </a>
                                            </h3>
                                            <!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Let’s education for children get good life">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    We conducted a webinar to support individuals interested in
                                                    starting
                                                    a
                                                    business in Germany.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="donation-card-two donation-card @@extraClassName">
                                            <div class="donation-card__bg"
                                                style="background-image: url('assets/images/backgrounds/donation-bg-1-1.png');">
                                            </div><!-- /.donation-card__bg -->
                                            <h3 class="donation-card__title">
                                                <a href="/events">
                                                    Webinar: Parenthood preparation
                                                </a>
                                            </h3><!-- /.donation-card__title -->
                                            <a href="/events" class="donation-card__image">
                                                <img src="assets/images/nepali-roots/events/coming-soon-3.png"
                                                    alt="Raise Funds For Clean &amp; Healthy Food">
                                                <div class="donation-card__category">Educational</div>
                                                <!-- /.donation-card__category -->
                                            </a><!-- /.donation-card__image -->
                                            <div class="donation-card__content">

                                                <p class="donation-card-two__text">
                                                    Hosted a webinar to guide expecting parents on essential
                                                    steps
                                                    during
                                                    pregnancy and post-delivery.
                                                </p>
                                                <!-- /.donation-card-two__text -->
                                                <a href="/events"
                                                    class="donation-card__btn cleenhearts-btn cleenhearts-btn--border-base">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Details</span>
                                                </a><!-- /.donation-card__btn -->
                                            </div><!-- /.donation-card__content -->
                                        </div><!-- /.donation-card-two donation-card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"
                                aria-label="carousel button"><span class="icon-arrow-left"></span></button>
                            <button type="button" role="presentation" class="owl-next"
                                aria-label="carousel button"><span class="icon-arrow-right"></span></button>
                        </div> -->
                        <div class="owl-dots disabled"></div>
                    </div><!-- /.donations-three__carousel -->
                </div><!-- /.charity -->


            </div><!-- /.tabs-content -->
        </div><!-- /.tabs-box -->
    </div><!-- /.container -->
</section>