<section class="donations-three section-space-top">
    <div class="container">
        <div class="donations-three__tabs-box tabs-box">
            <div class="donations-three__top">
                <div class="row gutter-y-40 align-items-center">
                    <div class="col-lg-6">
                        <div class="sec-title">

                            <h6 class="sec-title__tagline @@extraClassName">Upcoming Events
                            </h6>
                            <!-- /.sec-title__tagline -->

                            <h3 class="sec-title__title">Our
                                <span class="sec-title__title__inner">Upcoming Events</span>
                            </h3>
                            <!-- /.sec-title__title -->
                        </div><!-- /.sec-title -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.donations-three__top -->

            <section class="events-list-page section-space">
                <div class="container">
                    <div class="row gutter-y-30">
                        <div class="col-lg-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="event-card-four">
                                <a href="/events" class="event-card-four__image">
                                    <img src="assets/images/nepali-roots/events/coming-soon-medium-1.png"
                                        alt="There are many variations of passages of available but majority have alteration">
                                    <div class="event-card-four__date">
                                        <span>30</span>
                                        <span>Sep</span>
                                    </div><!-- /.event-card-four__date -->
                                </a><!-- /.event-card-four__image -->
                                <div class="event-card-four__content">
                                    <div class="event-card-four__time">
                                        <i class="event-card-four__time__icon fa fa-clock"></i>19:00 PM - 20.00 PM
                                    </div><!-- /.event-card-four__time -->
                                    <h4 class="event-card-four__title">
                                        <a href="/events">
                                            Navigating Company Registration in Germany for Expats
                                        </a>
                                    </h4>
                                    <!-- /.event-card-four__title -->
                                    <div class="event-card-four__text">

                                        Join us for an insightful webinar on the step-by-step process of registering a
                                        company in Germany as an expat. We'll cover the legal requirements, necessary
                                        documentation, and insider tips to help you successfully establish your business
                                        in one of Europe’s most dynamic economies. Whether you're an entrepreneur
                                        looking to start a new venture or an expat considering your options, this
                                        session will provide you with the essential knowledge to navigate the
                                        complexities of company registration in Germany.
                                    </div><!-- /.event-card-four__text -->
                                    <ul class="event-card-four__meta">
                                        <li>
                                            <h5 class="event-card-four__meta__title">Organizer</h5>
                                            Nepali Roots
                                        </li>
                                        <li>
                                            <h5 class="event-card-four__meta__title">
                                                <span class="icon-location"></span>
                                                Location
                                            </h5>
                                            Online
                                        </li>
                                    </ul><!-- /.event-card-four__meta -->
                                </div><!-- /.event-card-four__content -->
                            </div><!-- /.event-card-four -->
                        </div><!-- /.col-lg-12 -->

                        <div class="col-lg-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                            <div class="event-card-four">
                                <a href="event-details-right.html" class="event-card-four__image">
                                    <img src="assets/images/nepali-roots/events/coming-soon-medium-1.png"
                                        alt="Let’s education for children get good life style with go us Our donation is hope">
                                    <div class="event-card-four__date">
                                        <span>30</span>
                                        <span>Oct</span>
                                    </div><!-- /.event-card-four__date -->
                                </a><!-- /.event-card-four__image -->
                                <div class="event-card-four__content">
                                    <div class="event-card-four__time">
                                        <i class="event-card-four__time__icon fa fa-clock"></i>
                                        19:00 PM - 20.00 PM
                                    </div><!-- /.event-card-four__time -->
                                    <h4 class="event-card-four__title">
                                        <a href="/events">
                                            Job Search Experiences and Challenges in Germany: A Software Engineer’s
                                            Journey
                                        </a>
                                    </h4><!-- /.event-card-four__title -->
                                    <div class="event-card-four__text">
                                        Join us for a webinar where an experienced software engineer shares valuable
                                        insights and personal experiences on navigating the job market in Germany. Learn
                                        about effective job search strategies, the challenges of transitioning into the
                                        German tech industry, and practical tips for standing out in a competitive
                                        field. Whether you're new to the country or looking to advance your career, this
                                        session will provide you with actionable advice to help you land your next
                                        software engineering role in Germany.
                                    </div><!-- /.event-card-four__text -->
                                    <ul class="event-card-four__meta">
                                        <li>
                                            <h5 class="event-card-four__meta__title">Organizer</h5>
                                            Nepali Roots
                                        </li>
                                        <li>
                                            <h5 class="event-card-four__meta__title">
                                                <span class="icon-location"></span>
                                                Location
                                            </h5>
                                            Online
                                        </li>
                                    </ul><!-- /.event-card-four__meta -->
                                </div><!-- /.event-card-four__content -->
                            </div><!-- /.event-card-four -->
                        </div><!-- /.col-lg-12 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.events-list-page section-space -->

        </div><!-- /.tabs-box -->
    </div><!-- /.container -->
</section>