<section class="donations-three section-space-top">
    <div class="container">
        <div class="donations-three__tabs-box tabs-box">
            <div class="donations-three__top">
                <div class="row gutter-y-40 align-items-center">
                    <div class="col-lg-6">
                        <div class="sec-title">

                            <h6 class="sec-title__tagline @@extraClassName">Upcoming Events
                            </h6>
                            <!-- /.sec-title__tagline -->

                            <h3 class="sec-title__title">Our
                                <span class="sec-title__title__inner">Upcoming Events</span>
                            </h3>
                            <!-- /.sec-title__title -->
                        </div><!-- /.sec-title -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.donations-three__top -->

            <section class="events-list-page section-space">
                <div class="container">
                    <div class="row gutter-y-30">
                        <div class="col-lg-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="event-card-four">
                                <a href="event-details-right.html" class="event-card-four__image">
                                    <img src="assets/images/nepali-roots/events/coming-soon-medium-1.png"
                                        alt="There are many variations of passages of available but majority have alteration">
                                    <div class="event-card-four__date">
                                        <span>03</span>
                                        <span>Sep</span>
                                    </div><!-- /.event-card-four__date -->
                                </a><!-- /.event-card-four__image -->
                                <div class="event-card-four__content">
                                    <div class="event-card-four__time">
                                        <i class="event-card-four__time__icon fa fa-clock"></i>10:00 aM - 2.00 PM
                                    </div><!-- /.event-card-four__time -->
                                    <h4 class="event-card-four__title"><a href="event-details-right.html">There are many
                                            variations of passages of available but majority have alteration</a></h4>
                                    <!-- /.event-card-four__title -->
                                    <div class="event-card-four__text">Dicta sunt explicabo. Nemo enim ipsam voluptatem
                                        quia voluptas sit aspernaturaut
                                        odit aut fugit, sed quia consequuntur.</div><!-- /.event-card-four__text -->
                                    <ul class="event-card-four__meta">
                                        <li>
                                            <h5 class="event-card-four__meta__title">Organizer</h5>
                                            Ashton Porter
                                        </li>
                                        <li>
                                            <h5 class="event-card-four__meta__title"><span class="icon-location"></span>
                                                Vanue</h5>
                                            350 5th AveNew York, NY 10118 United States
                                        </li>
                                    </ul><!-- /.event-card-four__meta -->
                                </div><!-- /.event-card-four__content -->
                            </div><!-- /.event-card-four -->
                        </div><!-- /.col-lg-12 -->

                        <div class="col-lg-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                            <div class="event-card-four">
                                <a href="event-details-right.html" class="event-card-four__image">
                                    <img src="assets/images/nepali-roots/events/coming-soon-medium-1.png"
                                        alt="Let’s education for children get good life style with go us Our donation is hope">
                                    <div class="event-card-four__date">
                                        <span>03</span>
                                        <span>Sep</span>
                                    </div><!-- /.event-card-four__date -->
                                </a><!-- /.event-card-four__image -->
                                <div class="event-card-four__content">
                                    <div class="event-card-four__time">
                                        <i class="event-card-four__time__icon fa fa-clock"></i>10:00 aM - 2.00 PM
                                    </div><!-- /.event-card-four__time -->
                                    <h4 class="event-card-four__title"><a href="event-details-right.html">Let’s
                                            education for children get good life style with go us Our donation is
                                            hope</a></h4><!-- /.event-card-four__title -->
                                    <div class="event-card-four__text">Dicta sunt explicabo. Nemo enim ipsam voluptatem
                                        quia voluptas sit aspernaturaut
                                        odit aut fugit, sed quia consequuntur.</div><!-- /.event-card-four__text -->
                                    <ul class="event-card-four__meta">
                                        <li>
                                            <h5 class="event-card-four__meta__title">Organizer</h5>
                                            Ashton Porter
                                        </li>
                                        <li>
                                            <h5 class="event-card-four__meta__title"><span class="icon-location"></span>
                                                Vanue</h5>
                                            350 5th AveNew York, NY 10118 United States
                                        </li>
                                    </ul><!-- /.event-card-four__meta -->
                                </div><!-- /.event-card-four__content -->
                            </div><!-- /.event-card-four -->
                        </div><!-- /.col-lg-12 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.events-list-page section-space -->

        </div><!-- /.tabs-box -->
    </div><!-- /.container -->
</section>