                        <section class="events-three">
                            <div class="container">
                                <div class="events-three__bg"
                                    style="background-image: url('assets/images/shapes/event-bg-3.png');">
                                    <div class="sec-title">

                                        <h6 class="sec-title__tagline sec-title__tagline--center">Events in Germany or
                                            Nepal
                                        </h6>
                                        <!-- /.sec-title__tagline -->

                                        <h3 class="sec-title__title">See Upcoming <span
                                                class="sec-title__title__inner">Events</span>
                                        </h3><!-- /.sec-title__title -->
                                    </div><!-- /.sec-title -->
                                    <div class="horizontal-accordion">
                                        <div class="events-three__card card choice">
                                            <div class="card-body">
                                                <div class="events-three__card__top"
                                                    style="background-image: url('assets/images/nepali-roots/events/coming-soon-vertical-2.png');">
                                                    <h4 class="events-three__card__title">
                                                        How to register a company in Germany?
                                                    </h4>
                                                    <span
                                                        class="events-three__card__icon icon-plus"></span><!-- /.accordion-title__icon -->
                                                </div><!-- /.accordian-title -->
                                                <div class="event-card-three">
                                                    <div class="event-card-three__date-wrapper">
                                                        <div class="event-card-three__time">
                                                            <span class="event-card-three__time__icon fa fa-clock">
                                                            </span>
                                                            19:00 PM -
                                                            20.00 PM
                                                        </div><!-- /.event-card-three__time -->
                                                        <div class="event-card-three__date">03 Sep</div>
                                                        <!-- /.event-card-three__date -->
                                                    </div>
                                                    <div class="event-card-three__content">
                                                        <h4 class="event-card-three__title">
                                                            <a href="/events">
                                                                Webinar: Navigating Company Registration in Germany for
                                                                Expats
                                                            </a>
                                                        </h4>
                                                        <!-- /.event-card-three__title -->
                                                        <div class="event-card-three__text">
                                                            Learn the key steps to register a company in Germany as an
                                                            expat. We'll cover legal requirements, documentation, and
                                                            essential tips to help you get started. Perfect for
                                                            entrepreneurs and expats exploring business opportunities.
                                                        </div>
                                                        <!-- /.event-card-three__text -->
                                                        <ul class="event-card-three__meta">
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">Organizer</h5>
                                                                Nepali Roots
                                                            </li>
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">
                                                                    <span class="icon-location"></span> Location
                                                                </h5>
                                                                Online
                                                            </li>
                                                        </ul><!-- /.event-card-three__meta -->
                                                    </div><!-- /.event-card-three__content -->
                                                </div><!-- /.event-card-three -->
                                            </div>
                                        </div>
                                        <div class="events-three__card card choice">
                                            <div class="card-body">
                                                <div class="events-three__card__top"
                                                    style="background-image: url('assets/images/nepali-roots/events/coming-soon-vertical-2.png');">
                                                    <h4 class="events-three__card__title">
                                                        Tech job search experience sharing in Germany
                                                    </h4>
                                                    <span
                                                        class="events-three__card__icon icon-plus"></span><!-- /.accordion-title__icon -->
                                                </div><!-- /.accordian-title -->
                                                <div class="event-card-three">
                                                    <div class="event-card-three__date-wrapper">
                                                        <div class="event-card-three__time">
                                                            <span
                                                                class="event-card-three__time__icon fa fa-clock"></span>10:00
                                                            aM -
                                                            2.00 PM
                                                        </div><!-- /.event-card-three__time -->
                                                        <div class="event-card-three__date">03 Sep</div>
                                                        <!-- /.event-card-three__date -->
                                                    </div>
                                                    <div class="event-card-three__content">
                                                        <h4 class="event-card-three__title">
                                                            <a href="/events">
                                                                Job Search Experiences and Challenges in Germany: A
                                                                Software Engineer’s Journey
                                                            </a>
                                                        </h4>
                                                        <!-- /.event-card-three__title -->
                                                        <div class="event-card-three__text">
                                                            Join us for a webinar where an experienced software engineer
                                                            shares valuable insights and personal experiences on
                                                            navigating the job market in Germany.
                                                        </div>
                                                        <!-- /.event-card-three__text -->
                                                        <ul class="event-card-three__meta">
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">Organizer</h5>
                                                                Nepali Roots
                                                            </li>
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">
                                                                    <span class="icon-location"></span> Location
                                                                </h5>
                                                                Online
                                                            </li>
                                                        </ul><!-- /.event-card-three__meta -->
                                                    </div><!-- /.event-card-three__content -->
                                                </div><!-- /.event-card-three -->
                                            </div>
                                        </div>
                                        <div class="events-three__card card choice expand">
                                            <div class="card-body">
                                                <div class="events-three__card__top"
                                                    style="background-image: url('assets/images/nepali-roots/events/coming-soon-vertical-2.png');">
                                                    <h4 class="events-three__card__title">
                                                        Parenthood preparation
                                                    </h4>
                                                    <span
                                                        class="events-three__card__icon icon-plus"></span><!-- /.accordion-title__icon -->
                                                </div><!-- /.accordian-title -->
                                                <div class="event-card-three">
                                                    <div class="event-card-three__date-wrapper">
                                                        <div class="event-card-three__time">
                                                            <span
                                                                class="event-card-three__time__icon fa fa-clock"></span>
                                                            19:00
                                                            -
                                                            20.00
                                                        </div><!-- /.event-card-three__time -->
                                                        <div class="event-card-three__date">03 Sep</div>
                                                        <!-- /.event-card-three__date -->
                                                    </div>
                                                    <div class="event-card-three__content">
                                                        <h4 class="event-card-three__title">
                                                            <a href="/events">
                                                                Parenthood preparation
                                                            </a>
                                                        </h4>
                                                        <!-- /.event-card-three__title -->
                                                        <div class="event-card-three__text">

                                                            Webinar to guide expecting parents on essential
                                                            steps
                                                            during
                                                            pregnancy, post-delivery and KITA preparation.

                                                        </div>
                                                        <!-- /.event-card-three__text -->
                                                        <ul class="event-card-three__meta">
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">Organizer</h5>
                                                                Nepali Roots
                                                            </li>
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">
                                                                    <span class="icon-location"></span>
                                                                    Location
                                                                </h5>
                                                                Online
                                                            </li>
                                                        </ul><!-- /.event-card-three__meta -->
                                                    </div><!-- /.event-card-three__content -->
                                                </div><!-- /.event-card-three -->
                                            </div>
                                        </div>
                                        <div class="events-three__card card choice">
                                            <div class="card-body">
                                                <div class="events-three__card__top"
                                                    style="background-image: url('assets/images/nepali-roots/events/coming-soon-vertical-2.png');">
                                                    <h4 class="events-three__card__title">
                                                        Understanding the Ausbildung Process in Germany
                                                    </h4>
                                                    <span
                                                        class="events-three__card__icon icon-plus"></span><!-- /.accordion-title__icon -->
                                                </div><!-- /.accordian-title -->
                                                <div class="event-card-three">
                                                    <div class="event-card-three__date-wrapper">
                                                        <div class="event-card-three__time">
                                                            <span
                                                                class="event-card-three__time__icon fa fa-clock"></span>10:00
                                                            aM -
                                                            2.00 PM
                                                        </div><!-- /.event-card-three__time -->
                                                        <div class="event-card-three__date">03 Sep</div>
                                                        <!-- /.event-card-three__date -->
                                                    </div>
                                                    <div class="event-card-three__content">
                                                        <h4 class="event-card-three__title">
                                                            <a href="/events">
                                                                Understanding the Ausbildung Process in Germany
                                                            </a>
                                                        </h4>
                                                        <!-- /.event-card-three__title -->
                                                        <div class="event-card-three__text">
                                                            Join our webinar to learn about the Ausbildung process in
                                                            Germany. Discover its benefits and drawbacks, key
                                                            regulations, and who should consider it for their career.
                                                            Get valuable insights to make informed decisions about your
                                                            future.
                                                        </div>
                                                        <!-- /.event-card-three__text -->
                                                        <ul class="event-card-three__meta">
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">Organizer</h5>
                                                                Nepali Roots
                                                            </li>
                                                            <li>
                                                                <h5 class="event-card-three__meta__title">
                                                                    <span class="icon-location"></span> Location
                                                                </h5>
                                                                Online
                                                            </li>
                                                        </ul><!-- /.event-card-three__meta -->
                                                    </div><!-- /.event-card-three__content -->
                                                </div><!-- /.event-card-three -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.container -->
                        </section><!-- /.events-three section-space -->
