<section class="help-people" style="background-image: url('assets/images/backgrounds/help-people-bg-1.png');">
    <div class="container">
        <div class="row">
            <div class="help-people__images col-xl-6">
                <div class="help-people__images__inner">
                    <img src="assets/images/nepali-roots/logos/wonr-logo.jpg" alt="help-people" class="wow fadeInLeft"
                        data-wow-duration="1500ms" data-wow-delay="800ms">
                    <img src="assets/images/nepali-roots/logos/wonr-logo.jpg" alt="help-people" class="wow fadeInLeft"
                        data-wow-duration="1500ms" data-wow-delay="400ms">
                    <img src="assets/images/nepali-roots/logos/wonr-logo.jpg" alt="help-people" class="wow fadeInLeft"
                        data-wow-duration="1500ms" data-wow-delay="00ms">
                </div><!-- /.help-people__images__inner -->
            </div><!-- /.col-xl-6 -->
            <div class="help-people__content col-xl-6">
                <div class="help-people__content__inner">
                    <div class="sec-title">

                        <h6 class="sec-title__tagline @@extraClassName">Support Each Other</h6>
                        <!-- /.sec-title__tagline -->

                        <h3 class="sec-title__title"> Our Purpose and <span
                                class="sec-title__title__inner">Vision</span>
                        </h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <p class="help-people__text">
                        Women of Nepali Roots was created to support Nepali women facing challenges such as balancing
                        family and career, limited networks, social isolation, and stress.

                        We provide a safe, inclusive, and culturally sensitive space where women can:
                        <br>
                        - Connect and build networks
                        <br>
                        - Share experiences and support one another
                        <br>
                        - Gain practical tools for personal and professional growth
                        <br>

                        - Develop confidence and leadership skills
                    </p><!-- /.help-people__text -->
                    <p class="help-people__text">
                        We envision a self-organized network of women who uplift each other and contribute to the Nepali
                        community and wider society in Germany. By strengthening women, we strengthen families,
                        communities, and social cohesion.
                    </p>
                    <div class="help-people__content__bottom">
                        <a href="https://medium.com/@nepaliroots" target="_blank" class="cleenhearts-btn">
                            <div class="cleenhearts-btn__icon-box">
                                <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span>
                                </div>
                            </div>
                            <span class="cleenhearts-btn__text">Blog Posts</span>
                        </a><!-- /.cleenhearts-btn -->

                    </div><!-- /.help-people__content__bottom -->
                </div><!-- /.help-people__content__inner -->
            </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="help-people__shape">
        <img src="assets/images/shapes/help-people-shape-1.png" alt="help-people" class="help-people__shape__one">
    </div><!-- /.help-people__shape -->
</section><!-- /.help-people -->