<section class="testimonials-two section-space">
    <div class="container">
        <div class="testimonials-two__top">
            <div class="row gutter-y-30 align-items-center">
                <div class="col-lg-7">
                    <div class="sec-title">

                        <h6 class="sec-title__tagline @@extraClassName">TESTIMONIALS</h6><!-- /.sec-title__tagline -->

                        <h3 class="sec-title__title">What They’re Talking About Clean <span
                                class="sec-title__title__inner">Heart</span></h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                </div><!-- /.col-lg-7 -->
                <div class="col-lg-5 wow fadeInRight" data-wow-duration="1500ms">
                    <p class="testimonials-two__text">We help companies develop powerful corporate social
                        responsibility, grantmaking, and employee engagement strategies.</p>
                    <!-- /.testimonials-two__text -->
                </div><!-- /.col-lg-5 -->
            </div><!-- /.row gutter-y-40 -->
        </div><!-- /.testimonials-two__top -->
        <div class="testimonials-two__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel"
            data-owl-options='{
            "items": 1,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":false,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 20
                },
                "575":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 30
                },
                "768":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 30
                },
                "992":{
                    "items": 2,
                    "dots": false,
                    "loop": false,
                    "margin": 30
                },
                "1200":{
                    "items": 2,
                    "dots": false,
                    "loop": false,
                    "margin": 30
                }
            }
            }'>
            <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="testimonials-card @@extraClassName">
                    <div class="testimonials-card__bg"
                        style="background-image: url('assets/images/backgrounds/testimonial-bg-2.png');"></div>
                    <!-- /.testimonials-card__bg -->
                    <div class="testimonials-card__top">
                        <div class="testimonials-card__quote">
                            <span class="icon-quote-2"></span>
                        </div><!-- /.testimonials-card__quote -->
                        <a href="https://www.youtube.com/watch?v=h9MbznbxlLc"
                            class="testimonials-card__video video-button video-popup">
                            <span class="icon-play"></span>
                            <i class="video-button__ripple"></i>
                        </a><!-- /.testimonials-card__video -->
                    </div><!-- /.testimonials-card__top -->
                    <div class="testimonials-card__content">
                        <p class="testimonials-card__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor
                            arcu. Aenean non odio porttitor, convallis erat sit amet.</p>
                        <!-- /.testimonials-card__text -->
                        <div class="testimonials-card__info">
                            <div class="testimonials-card__info__left">
                                <h4 class="testimonials-card__name">Kenneth S. Fisher</h4>
                                <!-- /.testimonials-card__name -->
                                <span class="testimonials-card__designation">marketing
                                    manager</span><!-- /.testimonials-card__designation -->
                            </div><!-- /.testimonials-card__info__left -->
                            <div class="cleenhearts-ratings testimonials-card__rattings">
                                <span class="icon-star"></span><span class="icon-star"></span><span
                                    class="icon-star"></span><span class="icon-star"></span><span
                                    class="icon-star"></span>
                            </div><!-- /.product-ratings -->
                        </div><!-- /.testimonials-card__info -->
                    </div><!-- /.testimonials-card__content -->
                </div><!-- /.testimonials-card -->
            </div><!-- /.item-->
            <div class="item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="testimonials-card @@extraClassName">
                    <div class="testimonials-card__bg"
                        style="background-image: url('assets/images/backgrounds/testimonial-bg-2.png');"></div>
                    <!-- /.testimonials-card__bg -->
                    <div class="testimonials-card__top">
                        <div class="testimonials-card__quote">
                            <span class="icon-quote-2"></span>
                        </div><!-- /.testimonials-card__quote -->
                        <a href="https://www.youtube.com/watch?v=h9MbznbxlLc"
                            class="testimonials-card__video video-button video-popup">
                            <span class="icon-play"></span>
                            <i class="video-button__ripple"></i>
                        </a><!-- /.testimonials-card__video -->
                    </div><!-- /.testimonials-card__top -->
                    <div class="testimonials-card__content">
                        <p class="testimonials-card__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor
                            arcu. Aenean non odio porttitor, convallis erat sit amet.</p>
                        <!-- /.testimonials-card__text -->
                        <div class="testimonials-card__info">
                            <div class="testimonials-card__info__left">
                                <h4 class="testimonials-card__name">Cedric J. Coggins</h4>
                                <!-- /.testimonials-card__name -->
                                <span class="testimonials-card__designation">Tropical
                                    zodiac</span><!-- /.testimonials-card__designation -->
                            </div><!-- /.testimonials-card__info__left -->
                            <div class="cleenhearts-ratings testimonials-card__rattings">
                                <span class="icon-star"></span><span class="icon-star"></span><span
                                    class="icon-star"></span><span class="icon-star"></span><span
                                    class="icon-star"></span>
                            </div><!-- /.product-ratings -->
                        </div><!-- /.testimonials-card__info -->
                    </div><!-- /.testimonials-card__content -->
                </div><!-- /.testimonials-card -->
            </div><!-- /.item -->
        </div><!-- /.testimonials-two__carousel -->
    </div><!-- /.container -->
</section><!-- /.testimonials-two section-space -->