<div class="about-one__bg">
    <div class="about-one__bg__border"></div><!-- /.about-one__bg__border -->
    <div class="about-one__bg__inner" style="background-image: url('assets/images/shapes/about-shape-1-1.png');"></div>
    <!-- /.about-one__left__bg__inner -->
</div><!-- /.about-one__left__bg -->
<div class="container">
    <div class="row gutter-y-50">
        <div class="col-xl-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="about-one__left">
                <div class="about-one__image">
                    <img src="assets/images/about/about-1-1.png" alt="about" class="about-one__image__one">
                    <div class="about-one__video" style="background-image: url('assets/images/about/about-1-2.png');">
                        <a href="https://www.youtube.com/watch?v=h9MbznbxlLc"
                            class="about-one__video__btn video-button video-popup">
                            <span class="icon-play"></span>
                            <i class="video-button__ripple"></i>
                        </a><!-- /.about-one__video__btn -->
                    </div><!-- /.about-one__video -->
                    <div class="about-one__profile volunteer-profile">
                        <div class="volunteer-profile__inner">
                            <img src="assets/images/resources/robert-joe-kerry.png" alt="Robert Joe Kerry"
                                class="volunteer-profile__image">
                            <div class="volunteer-profile__info">
                                <h4 class="volunteer-profile__name"><a href="volunteer-details.html">Robert Joe
                                        Kerry</a></h4><!-- /.volunteer-profile__name -->
                                <p class="volunteer-profile__designation">Founder</p>
                                <!-- /.volunteer-profile__designation -->
                            </div><!-- /.volunteer-profile__info -->
                        </div><!-- /.volunteer-profile__inner -->
                    </div><!-- /.about-one__profile -->
                </div><!-- /.about-one__image -->
            </div><!-- /.about-one__left -->
        </div>
        <div class="col-xl-6">
            <div class="about-one__content">
                <div class="sec-title">

                    <h6 class="sec-title__tagline @@extraClassName">ABOUT Women Of Nepali Roots</h6>
                    <!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Empowering Nepali Women Through Growth, Connection, and <span
                            class="sec-title__title__inner">Leadership</span></h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->
                <div class="about-one__text-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">

                    <p class="about-one__text">
                        We create a space for women with Nepali migration backgrounds
                        in Munich and beyond to connect, share experiences, and support each other’s growth. As part of
                        Nepali Roots e.V., we foster
                        educational growth, professional development, social integration, and community leadership.
                    </p>

                    <p class="about-one__text">
                        Through workshops, shared learning, and supportive spaces, we empower women personally and
                        professionally, promote well-being,
                        strengthen leadership & communication skills, and help build sustainable women-led structures
                        within the Nepali
                        community.
                    </p>
                </div><!-- /.about-one__text-box -->



            </div><!-- /.about-one__content -->
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
<img src="assets/images/shapes/about-shape-1-2.png" alt="cleenhearts" class="about-one__hand">