  <table class="table cart-page__table1">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Agenda</th>
                                                    <th>Duration</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">13:45 - 14:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Gate Opens, Registration & Networking</td>
                                                    
                                                    <td class="cart-page__table__total">30 min</td>
                                                </tr>
                                      
                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:15 - 14:25
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Opening Session (By Nepali Roots)</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr>                                               

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:25 - 14:40
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Greetings from GIZ and the Special Guest</td>
                                                    
                                                    <td class="cart-page__table__total">15 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:40 - 15:00
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total"> 
                                                    <b>Dr. Maheswar Rupakheti (Keynote speaker)</b>
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">15:00 - 15:05
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break</td>
                                                    
                                                    <td class="cart-page__table__total">5 min</td>
                                                </tr>    


                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:05 - 15:25
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        <b>  Dr. Yagya Adhikari </b> | Environmental Specialist | Canopy Scientist | Natural Resource Conservation
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:25 – 15:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                       <b>Dr. Ing. Sarad Bahadur Thapa </b>| Head of GaN Technology | Scientific Researcher
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:45 - 16:05
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Interactive Spark Session</td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 
                                                 
                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:05 – 16:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total"> Panel discussion 1</td>
                                                    
                                                    <td class="cart-page__table__total">40 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:45 – 16:55
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break: Refreshments: tea/cofee/snacks</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:55 – 17:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        <b> Ranjana Budhathoki</b> | Sustainability professional with more than 7 years of experience in renewable energy,
                                                             nature conservation, ESG disclosures and interlinked themes
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:15 - 17:35
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        <b> Sudarshan Kunwar </b>| ESRC Doctoral Researcher- Energy and Capabilities, Chevening Scholar 2018/19
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:35 – 17:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:45 – 18:35
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        Diaspora Action Lab  (Interactive Workshop): 5 groups × 5-6 people in each group,
                                                        Engaging around 25 participants (including speakers and audience) in hands-on group discussions 
                                                        and solution-building activities.

                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">50 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                18:35 - 19:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Panel Discussion 2</td>
                                                    
                                                    <td class="cart-page__table__total">40 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                19:15 – 19:30
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Closing remarks</td>
                                                    
                                                    <td class="cart-page__table__total">15 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                19:30–21:00
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Nepali Buffet Dinner (included with ticket) & Networking </td>
                                                    
                                                    <td class="cart-page__table__total">90 min</td>
                                                </tr> 

                                            </tbody>
                                        </table>