.video-one__title {
    line-height: 0.85;
    color: #f6d468;
}

.preloader__image {
    background-size: 200px auto;
}


@media (max-width: 767px) {
    .video-one__title {
        display: unset;
        letter-spacing: 0;
        line-height: 0.95;
        font-size: 50px;
    }
}

.donation-card .donation-card__image img {
    border: 1px solid #ab96b4;
}

.events-list-page.section-space {
    padding-top: 0px;
}

.events-three__card__title {
    font-size: 20px;

}

.volunteer-details__designation {
    line-height: 1.5;
}

.align-text-center {
    text-align: center;
}