<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <%- include ("../partials/header-menus.ejs") %>

            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('assets/images/backgrounds/page-header-bg-1-1.jpg');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">About</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>About</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section>

            <section class="about-one @@extraClassName section-space">
                <div class="container">
                    <div class="row gutter-y-50">
                        <div class="col-lg-6">
                            <div class="about-three__image">
                                <div class="about-three__image__inner wow fadeInLeft animated"
                                    data-wow-duration="1500ms" data-wow-delay="00ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                                    <!-- <img src="assets/images/about/about-3-1.jpg" alt="about"
                                class="about-three__image__one">
                            <img src="assets/images/about/about-3-2.jpg" alt="about"
                                class="about-three__image__two"> -->
                                    <img src="assets/images/nepali-roots/about/about3.jpg" alt="about"
                                        class="about-three__image__one">
                                    <img src="assets/images/nepali-roots/about/about4.png" alt="about"
                                        class="about-three__image__two">
                                    <div class="about-three__experience"
                                        style="background-image: url(assets/images/shapes/about-shape-3-2.png);">
                                        <div class="about-three__experience__content">
                                            <h3 class="about-three__experience__title">Together</h3>
                                            <!-- /.about-three__experience__title -->
                                            <p class="about-three__experience__text">Empowering<br>Nepali
                                                Professionals
                                            </p>
                                            <!-- /.about-three__experience__text -->
                                        </div><!-- /.about-three__experience__content -->
                                    </div><!-- /.about-three__experience -->
                                    <img src="assets/images/shapes/about-shape-3-1.png" alt="about-shape"
                                        class="about-three__shape">
                                    <div class="about-three__shape-box"></div><!-- /.about-three__shape-box -->
                                </div><!-- /.about-three__image__inner -->
                            </div><!-- /.about-three__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="about-three__content">
                                <div class="sec-title">

                                    <h6 class="sec-title__tagline @@extraClassName">ABOUT NEPALI ROOTS</h6>
                                    <!-- /.sec-title__tagline -->

                                    <h3 class="sec-title__title">Helping Each Other Can Make World <span
                                            class="sec-title__title__inner">Better</span></h3>
                                    <!-- /.sec-title__title -->
                                </div><!-- /.sec-title -->
                                <p class="about-three__text about-three__text--one">Empowering Nepali Professionals
                                    In
                                    Germany:
                                    Connecting, Educating, and Supporting Growth and Well-being within Our Community
                                </p>
                                <!-- /.about-three__text -->
                                <p class="about-three__text about-three__text--two">
                                    Our mission is to connect Nepali professionals in Germany, fostering a
                                    supportive
                                    network where members can help each other achieve excellence in their
                                    professional,
                                    career, and personal growth. We are dedicated to offering educational workshops,
                                    training sessions, and webinars on a variety of topics that benefit the Nepali
                                    community. Additionally, we believe in collaborating with Nepali educational
                                    institutions to elevate their educational standards.
                                    We also provide support to individuals in managing their mental well-being
                                    throughout
                                    their professional journey.</p>
                                <!-- /.about-three__text -->


                            </div><!-- /.about-three__content -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </section>



            <section class="video-one">
                <div class="video-one__bg cleenhearts-jarallax" data-jarallax data-speed="0.3"
                    data-imgPosition="50% -100%"
                    style="background-image: url(assets/images/backgrounds/help-donate-bg-1-1.jpg);"></div>
                <!-- /.video-one__bg -->
                <div class="container">
                    <h2 class="video-one__title">A BOND BEYOND
                        <!-- <span class="video-one__title__two"></span>
                    <span class="video-one__title__one">BOND</span>
                    <span class="video-one__title__two">BEYOND</span> -->

                        BORDERS
                    </h2>
                    <!-- /.video-one__title -->
                    <!-- <a href="https://www.youtube.com/watch?v=h9MbznbxlLc"
                    class="video-one__button video-button video-popup">
                    <span class="icon-play"></span>
                    <i class="video-button__ripple"></i>
                </a> -->
                    <!-- /.video-one__button -->
                </div><!-- /.container -->
            </section><!-- /.video-one -->


            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@cleenhearts.com">nepaliroots@gmail.com</a>
                </li>
                <li>
                    <i class="icon-location"></i>
                    Munich, Germany
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="cleenhearts-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <aside class="sidebar-one">
        <div class="sidebar-one__overlay sidebar-btn__toggler"></div><!-- /.siderbar-ovarlay -->
        <div class="sidebar-one__content">
            <span class="sidebar-one__close sidebar-btn__toggler"><i class="fa fa-times"></i></span>
            <div class="sidebar-one__logo sidebar-one__item">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="logo-dark" /></a>
            </div><!-- /.sidebar-one__logo -->
            <div class="sidebar-one__about sidebar-one__item">
                <p class="sidebar-one__about__text">
                    We are a non-profit organization based in Munich, Germany, dedicated to connecting Nepali
                    professionals and fostering a supportive network for mutual growth in career, professional, and
                    personal development.
                </p>
            </div><!-- /.sidebar-one__about -->
            <div class="sidebar-one__information sidebar-one__item">
                <h4 class="sidebar-one__title">Information</h4>
                <ul class="sidebar-one__information__list">
                    <li>
                        <span class="sidebar-one__information__icon icon-location"></span>
                        <address class="sidebar-one__information__address">
                            <p class="sidebar-one__information__text">
                                Munich, Germany
                            </p>
                        </address>
                    </li>
                    <li>
                        <i class="sidebar-one__information__icon icon-envelope"></i>
                        <p class="sidebar-one__information__text"><a
                                href="mailto:nepaliroots@gmail.com">nepaliroots@gmail.com</a></p>
                    </li>

                </ul>
            </div><!-- /.sidebar-one__information -->
            <div class="sidebar-one__socila social-link sidebar-one__item">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>

                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /sidebar-one__socila -->
            <!-- <div class="sidebar-one__newsletter sidebar-one__item">
                <label class="sidebar-one__title" for="sidebar-email">Newsletter Subscribe</label>
                <form action="#" class="sidebar-one__newsletter__inner mc-form" data-url="MAILCHIMP_FORM_URL">
                    <input type="email" name="sidebar-email" id="sidebar-email" class="sidebar-one__newsletter__input"
                        placeholder="Email Address">
                    <button type="submit" class="sidebar-one__newsletter__btn"><i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                </form>
                <div class="mc-form__response"></div>
            </div> -->
            <!-- /.sidebar-one__form -->
        </div><!-- /.sidebar__content -->
    </aside><!-- /.sidebar-one -->

    <%- include ("../partials/footer-scripts.ejs") %>

</body>

</html>