<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <%- include ("../partials/header-menus.ejs") %>

            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('assets/images/nepali-roots/banners/subpage-banner.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Contact Us</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Contact Us</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section>

            <section class="contact-one section-space @@extraClassName">
                <div class="container">
                    <div class="row gutter-y-30">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp animated"
                                    data-wow-duration="1500ms" data-wow-delay="00ms"
                                    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Address</h4>
                                                <address class="contact-one__info__text">Munich, Germany</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Social Media Contacts</h4>
                                                <a href="tel:(406)555-0120"
                                                    class="contact-one__info__text contact-one__info__text--link">
                                                    Via Facebook or Linkedin
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Email</h4>
                                                <a href="mailto:contact@nepaliroots.org"
                                                    class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->
                                    <div class="sidebar-event__contact__image">
                                        <img src="assets/images/nepali-roots/events/contact-us.jpg" alt="events">
                                    </div><!-- /.sidebar-event__contact__image -->
                                </div><!-- /.sidebar-event__contact -->
                                <!-- /.sidebar-event__map -->
                            </aside><!-- /.sidebar-event -->
                        </div>
                        <div class="col-lg-3"></div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>


            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:contact@nepaliroots.org">contact@nepaliroots.org</a>
                </li>
                <li>
                    <i class="icon-location"></i>
                    Munich, Germany
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="cleenhearts-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <aside class="sidebar-one">
        <div class="sidebar-one__overlay sidebar-btn__toggler"></div><!-- /.siderbar-ovarlay -->
        <div class="sidebar-one__content">
            <span class="sidebar-one__close sidebar-btn__toggler"><i class="fa fa-times"></i></span>
            <div class="sidebar-one__logo sidebar-one__item">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="logo-dark" /></a>
            </div><!-- /.sidebar-one__logo -->
            <div class="sidebar-one__about sidebar-one__item">
                <p class="sidebar-one__about__text">
                    We are a non-profit organization based in Munich, Germany, dedicated to connecting Nepali
                    professionals and fostering a supportive network for mutual growth in career, professional, and
                    personal development.
                </p>
            </div><!-- /.sidebar-one__about -->
            <div class="sidebar-one__information sidebar-one__item">
                <h4 class="sidebar-one__title">Information</h4>
                <ul class="sidebar-one__information__list">
                    <li>
                        <span class="sidebar-one__information__icon icon-location"></span>
                        <address class="sidebar-one__information__address">
                            <p class="sidebar-one__information__text">
                                Munich, Germany
                            </p>
                        </address>
                    </li>
                    <li>
                        <i class="sidebar-one__information__icon icon-envelope"></i>
                        <p class="sidebar-one__information__text"><a
                                href="mailto:contact@nepaliroots.org">contact@nepaliroots.org</a></p>
                    </li>

                </ul>
            </div><!-- /.sidebar-one__information -->
            <div class="sidebar-one__socila social-link sidebar-one__item">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>

                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /sidebar-one__socila -->
            <!-- <div class="sidebar-one__newsletter sidebar-one__item">
                <label class="sidebar-one__title" for="sidebar-email">Newsletter Subscribe</label>
                <form action="#" class="sidebar-one__newsletter__inner mc-form" data-url="MAILCHIMP_FORM_URL">
                    <input type="email" name="sidebar-email" id="sidebar-email" class="sidebar-one__newsletter__input"
                        placeholder="Email Address">
                    <button type="submit" class="sidebar-one__newsletter__btn"><i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                </form>
                <div class="mc-form__response"></div>
            </div> -->
            <!-- /.sidebar-one__form -->
        </div><!-- /.sidebar__content -->
    </aside><!-- /.sidebar-one -->

    <%- include ("../partials/footer-scripts.ejs") %>

</body>

</html>