<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <%- include ("../partials/header-menus.ejs") %>

            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('assets/images/nepali-roots/banners/subpage-banner.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">FAQs</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>FAQs</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section>
            <section class="faq-page-inner section-space">
                <div class="faq-page-inner__bg"
                    style="background-image: url('assets/images/backgrounds/faq-inner-bg-1-1.png');"></div>
                <!-- /.faq-page-inner__bg -->
                <div class="container">
                    <div class="cleenhearts-accordion row gutter-y-10" data-grp-name="cleenhearts-accordion">
                        <div class="col-lg-6 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        What is Nepali Roots all about?
                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            Nepali Roots is a community group for Nepali professionals living in
                                            Germany. We’re here to help each other grow—whether that’s in your career,
                                            personal life, or just adjusting to life abroad. We focus on networking,
                                            education, and offering support to our members and non-members.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        What kind of support does Nepali Roots offer?
                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            We provide several kinds of support, including:<br>
                                            - Networking: We help you connect with other Nepali professionals in
                                            Germany.<br>
                                            - Workshops & Training: We organize educational sessions on topics that
                                            matter to our community.<br>
                                            - Webinars: We host online events that cover everything from career
                                            development to personal
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        Who can join Nepali Roots?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            We’re all about building a supportive community, so if that sounds good to
                                            you, we’d love to have you.

                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        How do I become a member?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            Joining is easy! Just head to our website and fill out the membership form.
                                            Once you're approved, you’ll be part of our community and get updates on all
                                            our events and resources.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        What topics do your workshops cover?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            We cover a wide range of topics based on what our community needs. This
                                            includes professional development, career growth, personal skills, and
                                            mental health.

                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        Do you work with educational institutions back in Nepal?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            Yes, we do! We believe in giving back, so we collaborate with schools and
                                            colleges in Nepal to help improve their educational standards through
                                            sharing knowledge and resources.

                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="200ms"
                            style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        How can I attend your webinars and workshops?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            As a member, you’ll get notifications about upcoming events. You can sign up
                                            for them directly through our website or through links we share via email.

                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion active">
                                <div class="accordion-title">
                                    <h4>
                                        Is there a fee to join Nepali Roots?
                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="">
                                    <div class="inner">
                                        <p>
                                            Right now, membership is free! We want everyone to have access to our
                                            community. However, some special events or workshops might have a small fee.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        How can I contribute to Nepali Roots?
                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            We’d love your help! You can get involved by volunteering, sharing your
                                            expertise as a speaker or trainer, or supporting us financially through
                                            donations.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        How do I stay in the loop about Nepali Roots’ activities?
                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            You can follow us on social media, subscribe to our newsletter, or just keep
                                            an eye on our website for the latest updates.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accordion @@extraClassName">
                                <div class="accordion-title">
                                    <h4>
                                        Who can I contact if I have more questions?

                                        <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accordion-content" style="display: none;">
                                    <div class="inner">
                                        <p>
                                            If you still have questions, feel free to reach out! You can contact us
                                            through the form on our website or shoot us an email at
                                            [nepaliroots@gmail.com] or [contact@nepaliroots.org]. We’re here to help.

                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div><!-- /.container -->
            </section>

            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:contact@nepaliroots.org">contact@nepaliroots.org</a>
                </li>
                <li>
                    <i class="icon-location"></i>
                    Munich, Germany
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__social">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup @@extraClassName">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="cleenhearts-btn">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <aside class="sidebar-one">
        <div class="sidebar-one__overlay sidebar-btn__toggler"></div><!-- /.siderbar-ovarlay -->
        <div class="sidebar-one__content">
            <span class="sidebar-one__close sidebar-btn__toggler"><i class="fa fa-times"></i></span>
            <div class="sidebar-one__logo sidebar-one__item">
                <a href="index.html" aria-label="logo image"><img src="assets/images/nepali-roots/logos/logo-red.png"
                        width="155" alt="logo-dark" /></a>
            </div><!-- /.sidebar-one__logo -->
            <div class="sidebar-one__about sidebar-one__item">
                <p class="sidebar-one__about__text">
                    We are a non-profit organization based in Munich, Germany, dedicated to connecting Nepali
                    professionals and fostering a supportive network for mutual growth in career, professional, and
                    personal development.
                </p>
            </div><!-- /.sidebar-one__about -->
            <div class="sidebar-one__information sidebar-one__item">
                <h4 class="sidebar-one__title">Information</h4>
                <ul class="sidebar-one__information__list">
                    <li>
                        <span class="sidebar-one__information__icon icon-location"></span>
                        <address class="sidebar-one__information__address">
                            <p class="sidebar-one__information__text">
                                Munich, Germany
                            </p>
                        </address>
                    </li>
                    <li>
                        <i class="sidebar-one__information__icon icon-envelope"></i>
                        <p class="sidebar-one__information__text"><a
                                href="mailto:contact@nepaliroots.org">contact@nepaliroots.org</a></p>
                    </li>

                </ul>
            </div><!-- /.sidebar-one__information -->
            <div class="sidebar-one__socila social-link sidebar-one__item">
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>

                <a href="https://linkedin.com" aria-hidden="true">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://youtube.com" aria-hidden="true">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
            </div><!-- /sidebar-one__socila -->
            <!-- <div class="sidebar-one__newsletter sidebar-one__item">
                <label class="sidebar-one__title" for="sidebar-email">Newsletter Subscribe</label>
                <form action="#" class="sidebar-one__newsletter__inner mc-form" data-url="MAILCHIMP_FORM_URL">
                    <input type="email" name="sidebar-email" id="sidebar-email" class="sidebar-one__newsletter__input"
                        placeholder="Email Address">
                    <button type="submit" class="sidebar-one__newsletter__btn"><i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                </form>
                <div class="mc-form__response"></div>
            </div> -->
            <!-- /.sidebar-one__form -->
        </div><!-- /.sidebar__content -->
    </aside><!-- /.sidebar-one -->

    <%- include ("../partials/footer-scripts.ejs") %>

</body>

</html>